.footer_outer_container {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
  /* display: flex; */
  justify-content: center;
}

.footer__inner_container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__icons {
  display: flex;
  gap: 15px;
  font-size: 24px;
  margin-bottom: 10px;
  justify-content: left;
}
.footer__icons svg {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.footer__icons svg:hover {
  transform: scale(1.1);
}
.footer__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer__data ul,
.footer__inner_container > div ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__data ul li,
.footer__inner_container > div ul li {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.footer__data ul li:hover,
.footer__inner_container > div ul li:hover {
  opacity: 1;
}

.serrvice_code {
  margin-top: 15px;
}

.footer__copyright {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}




